<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12 text-center mt-4">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/images/image-product-1.jpg" class="d-block carousel-img" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/image-product-2.jpg" class="d-block carousel-img" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/image-product-3.jpg" class="d-block carousel-img" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/image-product-4.jpg" class="d-block carousel-img" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <img class="img-fluid text-end p-1 image" src="assets/images/image-product-1.jpg" />
            <div class="images text-center d-flex">
                <img class="img-fluid tumb" src="assets/images/image-product-1-thumbnail.jpg" />
                <img class="img-fluid tumb"  src="assets/images/image-product-2-thumbnail.jpg" />
                <img class="img-fluid tumb"  src="assets/images/image-product-3-thumbnail.jpg" />
                <img class="img-fluid tumb"  src="assets/images/image-product-4-thumbnail.jpg" />
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <h2 class="subtitle">SNEKER COMPANY</h2>
            <h1 class="title">Fall limited edition
               <span class="snekers">snekers</span> </h1>
                <p class="about">These low-profile sneakers are your perfect casual wear 
                    companion. Featuring a durable rubber outer sole, they’ll 
                    withstand everything the weather can offer.</p>
                    <div class="d-flex d-sm-flex">
                    <h3 class="price mt-2 mb-2"><img class=" dollar" src="assets/images/dollar-svgrepo-com.svg" />125</h3>
                    <div class="sale text-center">50%</div>
                </div>
                <h2 class="mb-3 mx-3 text-muted txt-mut">250</h2>
                    <div class="buttons d-block d-sm-flex text-center">
                        <div class="amount text-center justify-content-center d-flex">
                            <div class="text-right"> <button class="btn btn-default minus"  type="button my-auto"><img src="assets/images/icon-minus.svg" /></button></div>
                            <span class="alock">0</span>
                           <div class="pull-right"><button class="btn btn-default plus" type="button"><img src="assets/images/icon-plus.svg" /></button></div>
                        </div>
                        <div class="buy text-center">
                            <p class="add">Add to cart</p>
                        </div>
                    </div>
        </div>
    </div>
</div>
